.ridesover, .ridesunder{
  display: none;
}
h1{
  text-align: center;
}
.container {
  border-style: solid;
  border-width: thin;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn {
  color: white;
  background-color: #1E90FF;

}
